.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-lightBold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-lighter {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "poppins", sans-serif;
}

.myWorks {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 604px);
  align-items: center;
  justify-content: center;
  width: 375px;
  padding: 114px 24px 114px 24px;
  background: #f6f6f6;
  gap: 88px;
  border-radius: 27px;
}

.project4 {
  grid-row: 4;
}

.header {
  width: 375px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 76px;
  height: 20px;
  padding: 10px 12px 10px 12px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
}

.hamburger {
  width: 40px;
  height: 40px;
  position: relative;
  left: 6px;
  top: 1px;
  padding: 8px;
  border-radius: 8px;
}

.desktop-only {
  display: none;
}

.headline {
  background-image: url(images/header-shapes\ mobile.png);
  position: relative;
  width: 327px;
  height: 411px;
  top: 0;
  padding: 114px 24px 114px 24px;
  margin-top: 12px;
}

.headline h2 {
  width: 327px;
  height: 150px;
  font-size: 40px;
  line-height: 52px;
  position: relative;
  top: -91px;
}

.headline p {
  width: 327px;
  height: 146px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  position: relative;
  top: -90px;
}

.headline h5 {
  width: 117px;
  height: 24px;
  position: relative;
  top: -108px;
  color: #6070ff;
}

.icons {
  width: 170.17px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon {
  width: 19.99px;
  height: 19.96px;
  position: relative;
  top: -124px;
  left: -12px;
  object-fit: contain;
}

.Project {
  width: 362px;
  height: 609px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  padding: 7px;
  border: 1px solid #dfe1e6;
  margin-top: 12px;
  background: white;
}

.ProjectImg {
  border-radius: 5px 5px 5px 5px;
  object-fit: cover;
  width: 100%;
}

.Project h1 {
  position: relative;
  top: -15px;
  padding: 0%;
}

.Project h5 {
  position: relative;
  left: 4px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  position: relative;
  top: -55px;
  padding: 0%;
}

.ProjectDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 37px;
}

.Project p {
  width: 251px;
  height: 2px;
  position: relative;
  top: -80px;
  left: 4px;
}

.Project span {
  background-color: #ebebff;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
  color: #6070ff;
}

.Languages {
  position: relative;
  top: -14px;
  left: 3px;
}

.Projectbtn {
  width: 126px;
  height: 48px;
  position: relative;
  top: 10px;
  left: 3px;
  padding: 12px;
  border-radius: 8px;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border: 1px solid #6070ff;
  background: white;
  color: #396df2;
}

.Projectbtn:hover,
.Projectbtn:active {
  cursor: pointer;
}

.AboutMe {
  border: 1px solid #ebebff;
  background: white;
  width: 375px;
  height: 1432px;
  position: relative;
  padding: 114px 24px 114px 24px;
  border-radius: 5px 62px 5px 5px;
  margin-top: 1px;
  left: 10px;
}

.desc {
  position: relative;
  top: -89px;
  width: 299px;
  letter-spacing: 0.03em;
  left: 10px;
}

.AboutMe h1 {
  position: relative;
  top: -90px;
  left: 10px;
}

.AboutMe h5 {
  width: 117px;
  height: 24px;
  position: relative;
  top: -95px;
  color: #6070ff;
  left: 10px;
}

.icon2 {
  position: relative;
  top: 18px;
  left: 10px;
}

.btn2 {
  width: 166px;
  position: relative;
  top: -66px;
  left: -5px;
  left: 10px;
}

.btn2:hover,
.btn2:active {
  cursor: pointer;
}

.Headings {
  position: relative;
  top: -31px;
  left: -3px;
  color: #5a53539c;
}

.Skills {
  margin-bottom: 12px;
  position: relative;
  top: -34px;
  height: 54px;
  padding: 8px;
  width: 88%;
  background-color: #f7f7f9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 11px;
  font-size: 15px;
}

.img {
  width: 46px;
  height: 43px;
  position: relative;
  top: 0;
  left: 1px;
  object-fit: contain;
}

.Skills p {
  position: relative;
  left: 7px;
  top: 1px;
}

.heading2 {
  top: -17px;
  border-bottom: 1px solid #ada4a4;
  padding: 0 0 16px 1px;
}

.contactForm {
  background-image: url(images/Contact\ me.png);
  width: 351px;
  height: 709.17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
  left: 6px;
  top: 22px;
}

.contactForm h1 {
  position: relative;
  top: 72px;
  font-weight: 700;
  color: white;
}

.contactForm p {
  width: 264px;
  height: 137px;
  position: relative;
  left: 25px;
  color: white;
  top: 41px;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
}

#nameInput {
  width: 285px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

#emailinput {
  width: 285px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

#msgInput {
  width: 285px;
  height: 164px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.btn3 {
  top: 17px;
  left: auto;
}

@media (min-width: 768px) {
  .desktop-only {
    display: inline;
  }

  .desktop-only button {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    width: 63px;
    height: 32px;
    padding: 5px;
    color: #344563;
    background: white;
    border: none;
  }

  .desktop-only button:hover {
    cursor: pointer;
    color: #45526ca2;
  }

  .desktop-only button:active {
    cursor: pointer;
    color: #45526ca2;
  }

  .hamburger {
    display: none;
  }

  .header {
    width: 98%;
    height: 70px;
    padding: 0 13px 16px 13px;
  }

  .headline {
    width: 99%;
    background-image: url(images/Header\ bg@2x.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    border-radius: 0 0 10px 10px;
    left: 50px;
  }

  .headline h2 {
    left: 11%;
    top: 7%;
    width: 31%;
  }

  .headline p {
    top: -25px;
    left: 11%;
    width: 58%;
  }

  .headline h5 {
    left: 11%;
  }

  .icons {
    position: relative;
    left: 11%;
    top: 2px;
  }

  .Project {
    width: 94%;
    height: 69%;
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .ProjectImg {
    width: 102vh;
    height: 70vh;
  }

  .myWorks {
    width: 96%;
    padding: 0 24px 95px 24px;
    gap: 0;
  }

  .Details {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 33px;
    left: 15px;
  }

  .Details h1 {
    font-size: 25px;
  }

  .Details p {
    width: 78%;
    top: -12%;
  }

  .list {
    font-family: poppins, sans-serif;
    font-weight: 500;
  }

  .Languages {
    top: 10px;
  }

  .Projectbtn {
    top: 55px;
  }

  .AboutMe {
    width: 96%;
    border-top-right-radius: 108px;
  }

  .aboutmeDesktop {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -10px;
    height: 29%;
  }

  .contactForm h1 {
    font-size: 27px;
    margin: 10px;
  }

  .self {
    position: relative;
    left: 103px;
    top: 95px;
  }

  .lang {
    position: relative;
    left: -8%;
    top: 20px;
    width: 44%;
  }

  .self > h1:first-of-type {
    left: 0%;
    font-size: 25px;
  }

  .self p {
    top: -23%;
    left: 0%;
    width: 56%;
  }

  .AboutMe h5 {
    top: -24%;
    left: 0%;
  }

  .icon2 {
    top: 3%;
    left: 3%;
  }

  .btn2 {
    left: 0%;
    top: -17%;
  }

  .Headings {
    font-weight: 600;
  }

  .Skills {
    width: 122px;
    height: 120px;
    padding: 12px 12px 20px 12px;
    gap: 0;
    border-radius: 8px;
  }

  .Skills img {
    top: -24px;
    width: 51%;
    height: 47%;
  }

  .Skills p {
    position: relative;
    top: 32px;
    left: -40%;
    font-size: 18px;
  }

  .skillsdiv {
    display: flex;
    gap: 5px;
    flex-direction: row;
    width: 100%;
    height: 24%;
  }

  .heading2 {
    top: 45px;
  }

  .contactForm {
    width: 99%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    top: 6%;
    font-family: poppins, sans-serif;
  }

  .contactForm p {
    width: 30%;
    text-align: center;
  }

  .contactForm form {
    margin-top: 24px;
  }

  #nameInput,
  #emailinput,
  #msgInput {
    border-radius: 0;
  }

  .btn3 {
    top: 12px;
    left: auto;
  }
}
